
body {
    width: 800px;
}

.main {
    background-color: #E0DDD9;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
}

.section#header {
    background-color: #DF673B;
    color: #E8E8E6;
    font-size: 20pt;
}

.section {
    padding: 10px;
    overflow: auto;
}

.darkSection {
    background-color: #CCC6BF;
    padding: 10px;
    overflow: auto;
}

.leftItem {
    float: left;
    width: 275px;
    display: inline-block;
    overflow: hidden;
    margin-right: 50px;
}

.centerItem {
    float: left;
    width: 275px;
    display: inline-block;
    overflow: hidden;
}

.rightImageItem {
    float: right;
    overflow: hidden;
}

.leftImageItem {
     float: left;
     overflow: hidden;
     margin-right: 20px;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.description {
    font-size: 15px;
}

.leftImage {
    height: 75px;
    width: 75px;
}

.rightImage {
    height: 75px;
    width: 75px;
}
